* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: adobeCaslonProRegular;
    /* font-family: athelasRegular; */
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

@font-face {
    font-family: adobeCaslonProRegular;
    src: url("../fonts/adobeCaslonProRegular.ttf");
}

@font-face {
    font-family: athelasRegular;
    src: url("../fonts/athelasRegular.ttf");
}